body {
	background-color: white;
	background-image: url("images/wood_pattern.png");
}

.site_container {
	width: 950px;
	margin:0px auto;

}
h1 h2 h3 h4 h5 h6 p a {
	color: #353839
}
/* --- Nav styling --- */

.nav {
}

.nav_links {
	margin-left: 600px;
}

.nav_links li  {
	display: inline;
	list-style-type: none;
	text-decoration: none;
	padding: 5px;
}

.nav_links a {
	text-decoration: none;
	color:#AA98A9;
}

.titles {
	text-align: center;
	border-bottom: 1px solid #edd;
	margin-bottom: 10px;
}
.site_title  {
	font-family: Verdana , sans-serif; 
	font-style: bold;
	font-size: 2.7em ;
	text-decoration: none;
	color: #353839 ;
 /*; Emarld Green = #50C878 Latte = #c9b695 Steel Blue = #4682B4  Persian orange	=  #D99058 Lavander = #7d4b68 */
}
.mistakes {
	color:#50C878;
}

.challenges {
	color:#4682B4;
}

.aha_moments {
	color:#D99058;
}

a:hover {
	color: #4682B4;
}

.sub_title{
	color: #AA98A9;
	margin: 10px;
}
/* --- Content styling --- */

.content_container {
	padding: 10px;
}

.content {
	margin-bottom: 20px;
	line-height: 25px;
}

/* --- Prev/Next styling --- */

.pagination {
	border-top: 1px solid #edd;
	border-bottom: 1px solid #edd;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.previous {
	font-size: 2em;
	float: left;
	margin-left: 40px;
}

.next {
	font-size: 2em;
	float: right;
	margin-right: 40px;
}
